
#left-book-page {
}

.ui.fluid.five.stackable.menu .item {
	background-image: url('../media/img/box-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	transition-property: all;
	transition-duration: 1.5s;
}

.ui.fluid.five.stackable.menu .item:hover {
	transform: translate(5px, 10px);
}

#content {
	height: 100%;
	perspective: 800px;
}

#left-book-page, #right-book-page {
	box-shadow: 5px 5px 5px black;
	
}

#left-book-page {
	height: 100%;
	background-image: url(../media/img/bg-book-2-left.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition-property: all;
	transition-duration: 1.5s;
	transform-origin: right;
	z-index: 100;
}

#right-book-page {
	height: 100%;
	background-image: url(../media/img/bg-book-2-right.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition-property: all;
	transition-duration: 1.5s;
	transform-origin: left;
}

#left-book-page:active {
	transform: rotateY(180deg);
}

#right-book-page:active {
	transform: rotateY(-180deg);
}


